/vendor/
/.env
/.env.production
progress.txt
/app/log/*
!/app/log/.gitkeep

/public/uploads/*
!/public/uploads/.gitkeep

/public/tmp/*
!/public/tmp/.gitkeep

/.phpunit.result.cache
/coverage/
/tests/_output/
/tests/coverage/
README.html